.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-primary{
  width: auto;
  height: auto;
  font-size: calc(12px + 2vmin);
  text-align: center;
  display: inline-block;
  position: relative;
 overflow: hidden;
  cursor: pointer;
  min-width: 100px;
  color: white;
  background-color: transparent;
  border-radius: 25px;
  padding: 10px;
  border:var(--primary-color) 1px solid;
  transition: all  0.5s ease;
  margin: 5px;
}

.btn-primary:hover span{
  width:400px;
  height: 400px;
}
.btn-primary span{
  display: block;
  border: none;
  transform: translate(-50%,-50%);
  transition: all 0.5s ease;
  position: absolute;
  background: var(--primary-color);
  height: 0px;
  width: 0px;
  border-radius: 50%;
}